<h1>Show All list</h1>
 <tr>
	<td><%= @user.firstname %></td><br />
      <td><%= @user.lastname %></td><br />
      <td><%= @user.email %></td><br />
      <td><%= @user.address %></td><br />
      <td><%= @user.mobile_number %></td>
   </tr>